@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300';

.app-container {
  height: 800px;
   width: 1000px; 
   margin: auto;
   font-family: 'Open Sans', sans-serif;
}

.cardList {
  display: flex;
  flex-direction: row;
}

.cardListItem {
  height: 160px; 
  width: 300px; 
  border:2px solid darkGrey;
  margin: 10px; 
  padding: 10px;
  background-color: #353535;
  color: white;
  text-align: center;
}

.nameBorder {
  border: 1px solid #19f6e8;
}

.textSize {
  font-size: 15;
}

.details {
  padding-top: 15px;
  color: #fff;
}

.details {
  opacity:0;
  transition:opacity 1s linear;
}
.details:hover {
  opacity:1;
}

.creditCard1 {
  height: 200px;
  width: 300px;
  background: linear-gradient(aquamarine, grey);
  border: 1px solid black;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 3%;
  margin: 10px;
}

.creditCard2 {
  height: 200px;
  width: 300px;
  background: linear-gradient(#7FBEFF, #DD1616);
  border: 1px solid black;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 3%;
  margin: 10px;
}

.creditCard3 {
  height: 200px;
  width: 300px;
  background: linear-gradient(#0A2EEA, #20266D);
  border: 1px solid black;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 3%;
  color: #fff;
  margin: 10px;
}

.creditCardName{
  padding-left: 10px;
}